{{#if this.isEditing}}
  <form class="edit_card" {{on "submit" (prevent-default this.save)}}>
    <fieldset>
      <label for="front">Front</label>
      <Textarea @value={{this.editFront}} id="front" />

      <label for="back">Back</label>
      <Textarea @value={{this.editBack}} id="back" />

      <div>
        <button type="submit" class="btn btn-primary">
          Save
        </button>
        <button type="button" {{on "click" this.deleteCard}} class="btn btn-danger">Delete</button>
      </div>
    </fieldset>
  </form>
{{else}}
  <FlippableCard @card={{@card}} @side={{this.side}} @flip={{this.flip}} data-test-card ...attributes/>
  <button type="button" class="btn btn-primary" {{on "click" this.edit}}>Edit</button>
{{/if}}
