{{#if this.isEditing}}
  <CardForm @card={{@card}} @submitLabel="Save" @onSave={{this.exitEdit}} data-test-edit-form>
    <button
      type="button" class="btn btn-outline-secondary ms-3"
      data-test-cancel-button
      {{on "click" this.cancelEdit}}
    >
      Cancel
    </button>
    <div class="flex-grow-1"></div>
    <button
      type="button" class="btn btn-danger"
      data-test-delete-button
      {{on "click" this.deleteCard}}
    >
      Delete
    </button>

  </CardForm>
{{else}}
  <FlippableCard
    @card={{@card}}
    @side={{this.side}}
    @flip={{this.flip}}
    class="mb-4 {{if this.isResetting 'no-transition'}}"
    data-test-card
    {{did-update this.resetToFront @card}}
    ...attributes
  />
  <button
    type="button" class="btn btn-primary"
    data-test-edit-button
    {{on "click" this.edit}}
  >
    Edit
  </button>
{{/if}}
