{{#if this.isEditing}}
  <CardForm @card={{@card}} @submitLabel="Save" @onSave={{this.exitEdit}} data-test-edit-form>
    <button
      type="button" class="btn btn-danger"
      data-test-delete-button
      {{on "click" this.deleteCard}}
    >
      Delete
    </button>
    <button
      type="button" class="btn btn-outline-secondary"
      data-test-cancel-button
      {{on "click" this.cancelEdit}}
    >
      Cancel
    </button>
  </CardForm>
{{else}}
  <FlippableCard @card={{@card}} @side={{this.side}} @flip={{this.flip}} data-test-card ...attributes/>
  <button
    type="button" class="btn btn-primary"
    data-test-edit-button
    {{on "click" this.edit}}
  >
    Edit
  </button>
{{/if}}
