<form {{on "submit" (prevent-default this.save)}}>
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    {{! template-lint-disable no-builtin-form-components }}
    <Input
      id="name"
      name="name"
      class="form-control {{invalid-class @collection 'name'}}"
      @value={{this.name}}
      required
      {{autofocus}}
    />
    {{! template-lint-enable no-builtin-form-components }}
    <div class="invalid-feedback" data-test-errors-for="name">
      {{validation-errors @collection.errors.name}}
    </div>
  </div>

  <div class="row">
    <div class="col d-flex align-items-center">
      <button
        class="btn btn-primary"
        type="submit"
        disabled={{this.submitButtonDisabled}}
      >
        {{@submitLabel}}
      </button>

      {{yield}}
    </div>
  </div>
</form>