<form {{on "submit" (prevent-default this.save)}}>
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <Input id="name" name="name" @value={{this.name}} class="form-control {{invalid-class @collection 'name'}}" required />
    <div class="invalid-feedback" data-test-errors-for="name">
      {{validation-errors @collection.errors.name}}
    </div>
  </div>

  <div class="row">
    <div class="col d-flex align-items-center">
      <button class="btn btn-primary" type="submit" disabled={{this.submitButtonDisabled}}>
        {{@submitLabel}}
      </button>

      {{yield}}
    </div>
  </div>
</form>
