<form id="manage-cards" {{on "submit" (prevent-default this.saveCards)}} data-test-manage-cards-form>
  <table class="table">
    <tbody>
      {{#each this.listItems as |item|}}
        <tr data-test-card>
          <td>
            <label for="include-{{item.card.id}}" class="visually-hidden">
              Include
            </label>
            <input type="checkbox" value={{item.card.id}} checked={{item.checked}} id="include-{{item.card.id}}" />
          </td>
          <td>
            {{item.card.front}}
          </td>
          <td>
            {{item.card.back}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary me-4">
    Save
  </button>

  <button
    type="button" class="btn btn-outline-primary"
    data-test-cancel-button
    {{on "click" @close}}
  >
    Cancel
  </button>
</form>
