<form {{on "submit" (prevent-default this.createSet)}}>
  <div class="container">
    <div class="row mb-4">
      <label for="name" class="form-label">Name:</label>
      <Input @type="text" @value={{@cardSet.name}} id="name" name="name" class="form-control {{(invalid-class @cardSet 'name')}}" required />
      <div class="invalid-feedback" data-test-errors-for="name">
        {{validation-errors @cardSet.errors.name}}
      </div>

    </div>
  </div>

  <button type="submit" class="btn btn-primary" disabled={{this.submitButtonDisabled}}>Create</button>
</form>
