<CollectionHeader @collection={{@model.collection}} @editable={{true}} class="mb-3" />

<h2>New card set</h2>

<CardSetForm
  @cardSet={{@model}}
  @saved={{this.redirectToSet}}
  @cancelled={{this.redirectToCollection}}
/>
